.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6rem 10rem 12rem 10rem;
  margin-bottom: 12rem;

  @media screen and (max-width: $phone-big) {
    margin: 3rem 4rem 10rem 4rem;
  }

  &__logo {
    height: 3.9rem;
    width: 24rem;

    @media screen and (max-width: $tablet) {
      height: 3rem;
      width: 18rem;
    }

    @media screen and (max-width: $phone-big) {
      height: 2rem;
      width: 12rem;
    }
  }

  &__btn {
    font-size: 1.8rem;

    @media screen and (max-width: $tablet) {
      font-size: 1.4rem;
    }
  }
}